* {
  touch-action: none;
  user-select: none;
}

/* fonts bold, italic, regular, bold italic */
@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/RobotoMono/RobotoMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/RobotoMono/RobotoMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  font-size: 60px;
  fill: rgb(255, 193, 105);
  font-family: 'RobotoMono', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-anchor: middle;
  text-shadow: 5px 5.5px 3px rgba(0, 0, 0, 0.7);
  user-select: none;
}

.font-small {
  font-size: 30px;
}


.dynamicPattern2 {
  stroke-width: 1.5;
  stroke: white;
  fill: white;
}

.black {
  stroke: black;
  fill: black;
}

.menu-button {
  display: grid;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-items: center;
  border-radius: 50px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}